@model MvcProducto.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Estas seguro de eliminarlo? o(TヘTo)</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeAlta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-outline-danger">
        <img src="~/images/delete.png" alt="Delete" style="width: 20px; height: 20px;" />
    </button>
     |
    <a asp-action="Index"asp-route-id="@Model.Id" class="btn btn-outline-success">
        <img src="~/images/volver.png" alt="Regresar" style="width: 20px; height: 20px; border: none; cursor: pointer;" />
    </a>
</form>
</div>
